In [1]:
import pandas as pd
import numpy as np

In [2]:
absent_csv = pd.read_csv('Absenteeism_data.csv')
absent_csv

     ID  Reason for Absence  ... Pets  Absenteeism Time in Hours
0    11                  26  ...    1                          4
1    36                   0  ...    0                          0
2     3                  23  ...    0                          2
3     7                   7  ...    0                          4
4    11                  23  ...    1                          2
..   ..                 ...  ...  ...                        ...
695  17                  10  ...    0                          8
696  28                   6  ...    2                          3
697  18                  10  ...    0                          8
698  25                  23  ...    0                          2
699  15                  28  ...    1                          2

[700 rows x 12 columns]

In [3]:
df= absent_csv.copy()
df.head()

   ID  Reason for Absence  ... Pets  Absenteeism Time in Hours
0  11                  26  ...    1                          4
1  36                   0  ...    0                          0
2   3                  23  ...    0                          2
3   7                   7  ...    0                          4
4  11                  23  ...    1                          2

[5 rows x 12 columns]

In [4]:
df.drop(columns=['ID'],inplace=True)
df.head()

   Reason for Absence        Date  ...  Pets  Absenteeism Time in Hours
0                  26  07/07/2015  ...     1                          4
1                   0  14/07/2015  ...     0                          0
2                  23  15/07/2015  ...     0                          2
3                   7  16/07/2015  ...     0                          4
4                  23  23/07/2015  ...     1                          2

[5 rows x 11 columns]

In [5]:
reason_columns = pd.get_dummies(df['Reason for Absence'],drop_first=True)
reason_columns

     1   2   3   4   5   6   7   8   9   ...  19  21  22  23  24  25  26  27  28
0     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   1   0   0
1     0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0
3     0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
695   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
696   0   0   0   0   0   1   0   0   0  ...   0   0   0   0   0   0   0   0   0
697   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
698   0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0
699   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   1

[700 rows x 27 columns]

In [6]:
df= df.drop('Reason for Absence', axis=1)
df.head()

         Date  Transportation Expense  ...  Pets  Absenteeism Time in Hours
0  07/07/2015                     289  ...     1                          4
1  14/07/2015                     118  ...     0                          0
2  15/07/2015                     179  ...     0                          2
3  16/07/2015                     279  ...     0                          4
4  23/07/2015                     289  ...     1                          2

[5 rows x 10 columns]

In [7]:
reason_type_1 = reason_columns.loc[:,1:14].max(axis=1)

In [8]:
reason_type_2 = reason_columns.loc[:,15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:,18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:,22:28].max(axis=1)

In [9]:
df= pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4],axis=1)
df.head()

         Date  Transportation Expense  Distance to Work  Age  ...  0  1  2  3
0  07/07/2015                     289                36   33  ...  0  0  0  1
1  14/07/2015                     118                13   50  ...  0  0  0  0
2  15/07/2015                     179                51   38  ...  0  0  0  1
3  16/07/2015                     279                 5   39  ...  1  0  0  0
4  23/07/2015                     289                36   33  ...  0  0  0  1

[5 rows x 14 columns]

In [10]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [11]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', "Reason_3", 'Reason_4']

In [12]:
df.columns = column_names
df.head()

         Date  Transportation Expense  ...  Reason_3  Reason_4
0  07/07/2015                     289  ...         0         1
1  14/07/2015                     118  ...         0         0
2  15/07/2015                     179  ...         0         1
3  16/07/2015                     279  ...         0         0
4  23/07/2015                     289  ...         0         1

[5 rows x 14 columns]

In [13]:
column_names_reordered = ['Reason_1', 'Reason_2', "Reason_3", 'Reason_4','Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [14]:
df = df[column_names_reordered]
df.head()

   Reason_1  Reason_2  Reason_3  ...  Children Pets  Absenteeism Time in Hours
0         0         0         0  ...         2    1                          4
1         0         0         0  ...         1    0                          0
2         0         0         0  ...         0    0                          2
3         1         0         0  ...         2    0                          4
4         0         0         0  ...         2    1                          2

[5 rows x 14 columns]

In [15]:
df_reason_mod = df.copy()

In [16]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [17]:
list_month = []

In [18]:
for i in range(700):
  list_month.append(df_reason_mod['Date'][i].month)

In [19]:
df_reason_mod['Month Value'] = list_month
df_reason_mod.head(20)

    Reason_1  Reason_2  Reason_3  ...  Pets Absenteeism Time in Hours  Month Value
0          0         0         0  ...     1                         4            7
1          0         0         0  ...     0                         0            7
2          0         0         0  ...     0                         2            7
3          1         0         0  ...     0                         4            7
4          0         0         0  ...     1                         2            7
5          0         0         0  ...     0                         2            7
6          0         0         0  ...     4                         8            7
7          0         0         0  ...     0                         4            7
8          0         0         1  ...     0                        40            7
9          0         0         0  ...     1                         8            7
10         1         0         0  ...     0                         8            7
11         1         0         0  ...     0                         8            7
12         1         0         0  ...     0                         8            7
13         1         0         0  ...     0                         1            7
14         0         0         0  ...     0                         4            7
15         1         0         0  ...     0                         8            7
16         0         0         0  ...     0                         2            7
17         0         0         1  ...     0                         8            7
18         1         0         0  ...     2                         8            7
19         0         0         0  ...     1                         2            8

[20 rows x 15 columns]

In [20]:
def date_to_weekday(date_value):
  return date_value.weekday()

In [21]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)
df_reason_mod.head()

   Reason_1  Reason_2  ...  Month Value  Day of the Week
0         0         0  ...            7                1
1         0         0  ...            7                1
2         0         0  ...            7                2
3         1         0  ...            7                3
4         0         0  ...            7                3

[5 rows x 16 columns]

In [22]:
df_reason_mod = df_reason_mod.drop('Date', axis = 1)
df_reason_mod.head()

   Reason_1  Reason_2  ...  Month Value  Day of the Week
0         0         0  ...            7                1
1         0         0  ...            7                1
2         0         0  ...            7                2
3         1         0  ...            7                3
4         0         0  ...            7                3

[5 rows x 15 columns]

In [23]:
df_reason_date_mod = df_reason_mod.copy()

In [24]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [25]:
df_reason_date_mod['Education'].unique()

array([0, 1])

In [26]:
df_preprocessed = df_reason_date_mod.copy()
df_preprocessed

     Reason_1  Reason_2  ...  Month Value  Day of the Week
0           0         0  ...            7                1
1           0         0  ...            7                1
2           0         0  ...            7                2
3           1         0  ...            7                3
4           0         0  ...            7                3
..        ...       ...  ...          ...              ...
695         1         0  ...            5                2
696         1         0  ...            5                2
697         1         0  ...            5                3
698         0         0  ...            5                3
699         0         0  ...            5                3

[700 rows x 15 columns]

In [27]:
df_preprocessed.to_csv('Absenteeism_preprocessed.csv', index=False)